/* app.css */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-media-controls-current-time-display {
    display: none !important;
  }
  
  ::-webkit-media-controls-timeline {
    display: none !important;
  }
  /* Apply globally to the entire website */

  
  